/* 
CSSで決めること
1. 位置
2. サイズ
3. 色とか

*/
ul {
    list-style: none;
}

.girls {
    /* 横並びになる */
    display: flex;
}

.girls2 {
    display: flex;
    /* justify-content: center; */
    justify-content: space-around;
}

.girls3 {
    display: flex;
    height: 200px;
    align-items: center;
    justify-content: center;
    background-color: gray;
}

.girls4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: skyblue;
}

.girls5 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: orange; */
    background: url(https://pbs.twimg.com/media/C5p74z6UwAAj3PG.jpg);
    background-size: cover;
    height: 1200px;
}

.usual {
    display: flex;
    background-color: green;
    height: 100px;
    align-items: center;
}

.celeb {
    display: flex;
    background-color: yellow;
    height: 100px;
    align-items: center;
}

/* 
    flex
    横並び
    justify-content 水平方向(横方向の位置を決める)
    aline-items 垂直方向

    縦並び(flex-direction: column
    justify-content 垂直方向
    aline-items 水平方向
*/